.toolbar_class
{
    
    height: 4%;
}

.body
{
    width: 100%;
    height: 50%;
    text-align: center;
}

.container_input
{
    width: 95%;
    text-align: center;
}
.container_img
{   
    height: 35%;
    text-align: center;
}

.broccolo
{
    height: 100%;
    background-size: cover;
}
