.toolbar_class
{
    background: white !important;
    border-bottom: solid 1px #80808052 !important;
}

.body
{
    width: 100%;
    text-align: center;
}

.container_input
{
    width: 95%;
    text-align: center;
}
.container_img
{   
    margin-top: 1.5rem;
    height: 20rem;
    text-align: center;
}
.broccolo
{
    height: 100%;
    background-size: cover;
}
