.body
{
    text-align: center;
    width: 100%;
    
}
.container_btn
{   
    margin-top: 1.2rem;
    width: 100%;
    text-align: center;
}

.container_input
{
    width: 95%;
}

.btn_accedi
{
    
    width: 90%;
}

.container_img
{   
    margin-top: 1.5rem;
    height: 20rem;
    text-align: center;
}
.broccolo
{
    height: 100%;
    background-size: cover;
}
.ion-activate
{
    --background:#81c41d;
}