.container_img
{   
    margin-top: 1.5rem;
    height: 40%;
    text-align: center;
}

.broccolo
{
    height: 100%;
    background-size: cover;
}

.body
{   
    text-align: center;
    height: 60%;
}
.container_input
{
    width: 95%;
}