.container_img
{   

    height: 40%;
    text-align: center;
}
.toolbar_class
{
    height: 5%;
}

.broccolo
{
    height: 100%;
    background-size: cover;
}

.body
{   
    border-top: 1px solid #80808099;
    height: 50%;
}
.img_card
{
    margin-bottom: -0.5rem;
    padding: 1rem;
    padding-bottom: 0rem;
    padding-top: 0.1rem;
}


.content_card
{
    height: 5rem;
    overflow: hidden;
    
}
.nome
{   

    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 
    color: rgb(10, 10, 10);
}

.cognome
{   
   
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    color: rgb(10, 10, 10);
    text-overflow: ellipsis; 
}